{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/menu/stylemenu.css' %}">
    </head>
    <body>
        
        <div class="menuLeftContainer">
            <div class="containerLMItems">
                <div class="menuLeftItem">
                    <span class="material-symbols-outlined">map
                    </span>
                    <h1></h1>
                </div>
                <div class="menuLeftItem">
                    <span class="material-symbols-outlined">edit_calendar
                    </span>
                    <h1></h1>
                </div>
                <div class="menuLeftItem">
                    <span class="material-symbols-outlined">post_add
                    </span>
                    <h1></h1>
                </div>
                <div class="menuLeftItem">
                    <span class="material-symbols-outlined">analytics
                    </span>
                    <h1></h1>
                </div>
                <div class="menuLeftItem">
                    <span class="material-symbols-outlined">play_lesson
                    </span>
                    <h1></h1>
                </div>

            </div>
            
        </div>
        
    </body>
</html>