{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'features/icons/ayllu_turismo.png' %}" type="image/x-icon">
        <title>Ayllu Turismo Gestión</title>
        
</head>
<body>
    {% include 'bar/bar_user.html' %}
    {% include 'head/head.html' %}
    {% include 'menu/menu.html' %}
    <div class="contenedor_principal">
        {% block content %}
        {% endblock %}
    </div>
    
    
</body>
</html>
