.formExcursionContainer{
   margin-top: 130px;
   margin-left: 20px;
   margin-right: 20px;
   padding-bottom: 30px;
}
table{
    width: fit-content;
}
td {
    padding-bottom: 1em;
    width: min-content;

}
.selectCliente{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
input{
    background-color: rgba(189, 255, 233, 0.87);
    color: black;
    font-size: 1em;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.botones{
    background-color: rgba(189, 255, 233, 0.87);
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: black;
    font-size: 1em;
    border:none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    width: min-content;
}
.botones:hover{
    border: 1px solid black;
}
select{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    user-select: none;
    
}
.excursiones{
    min-height: 40vh;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.excursion_single{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    
    justify-content: left;
}
.fill_excursion_single{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
    align-items: center;
    
}
.titulo_excursion{
    width: min-content;
    
}
.cant{
    width:40px;
    height: 100%;
    padding: 10px;
    background-color: transparent;
    color: darkblue;
}
.cantidaddiv{
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.close{
    background-color: transparent;
    color: red;

}
.close:hover{
    border: 1px solid black;
}
.hide{
    display:none;
}
